[defaults]
host_key_checking = False
interpreter_python = auto_silent

[ssh_connection]
scp_if_ssh = False
transfer_method = sftp
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o IdentitiesOnly=yes
